BeSmartMRP/bin/
BeSmartMRP/obj/
BeSmartMRP.Business/bin/
BeSmartMRP.Business/obj/
BeSmartMRP.Data/bin/
BeSmartMRP.Data/obj/
BeSmartMRP.Report/bin/
BeSmartMRP.Report/obj/
BeSmartMRPSys/obj/
BeSmartMRPSys/bin/
BeSmartPOS/obj/
BeSmartPOSBackOffice/bin/
BeSmartPOSBackOffice/obj/
BeSmartSysncData/bin/
BeSmartSysncData/obj/
BeSmartPOSBackOffice/bin/
BeSmartPOSBackOffice/obj/